trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  phpVersion: '8.2'
  azureSubscription: 'AzureServiceConnection-site'
  appName: 'siteclouddix'

stages:
- stage: Build
  displayName: 'Build Stage'
  jobs:
  - job: Build
    displayName: 'Build Job'
    steps:
    - task: UsePhpVersion@0
      inputs:
        versionSpec: $(phpVersion)
      displayName: 'Use PHP $(phpVersion)'

    - script: |
        php -v
        composer install --no-interaction --prefer-dist --optimize-autoloader
      displayName: 'Install Composer Dependencies'

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
        includeRootFolder: false
        archiveType: 'zip'
        archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
        replaceExistingArchive: true
      displayName: 'Archive Files'

    - publish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
      artifact: drop
      displayName: 'Publish Artifact'

- stage: Deploy_Staging
  displayName: 'Deploy to Staging'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: 'Deploy to Staging Slot'
    environment: 'staging'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureSubscription)
              appType: 'webAppLinux'
              appName: $(appName)
              package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
              deployToSlotOrASE: true
              resourceGroupName: 'rg-hml-site-clouddix-brs'
              slotName: 'staging'
              runtimeStack: 'PHP|8.2'
            displayName: 'Deploy to App Service Staging'

- stage: Approval
  displayName: 'Approval Stage'
  dependsOn: Deploy_Staging
  jobs:
  - job: waitForValidation
    displayName: 'Wait for Manager Approval'
    pool: server
    timeoutInMinutes: 4320 # 3 days
    steps:
    - task: ManualValidation@0
      inputs:
        notifyUsers: 'suporteclouddix@gmail.com'
        instructions: 'Please validate the staging deployment before promoting to production'
        onTimeout: 'reject'

- stage: Deploy_Production
  displayName: 'Deploy to Production'
  dependsOn: Approval
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: 'Deploy to Production'
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureSubscription)
              appType: 'webAppLinux'
              appName: $(appName)
              package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
              runtimeStack: 'PHP|8.2'
            displayName: 'Deploy to App Service Production'